# This file contains the Python dependencies for the Leo Trading Platform.
# Install them using: pip install -r requirements.txt

mysql-connector-python
SQLAlchemy
yfinance
pandas
beautifulsoup4
lxml
requests
pandas-ta-openbb
dash
dash-bootstrap-components
pandas_market_calendars
feedparser
celery
redis
